<div><p>Our blog has <%= Article.public_count %> articles and counting!</p></div>

<select class="form-select my-4" id="article_status" style="width: fit-content;">
  <option value="public">Public</option>
  <option value="private">Private</option>
  <option value="archived">Archived</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each.with_index(0) do |article, index| %>
      <% unless article.archived? %>
        <tr class="align-middle">
          <th scope="row"><%= index %></th>
          <td><%= article.title %></td>
          <td class="w-25">
            <%= link_to "View", article_path(article), class: "btn btn-primary btn-sm px-3" %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-success btn-sm px-3" %>
            <%= link_to "Destroy", article, 
              data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, 
              class: "btn btn-danger btn-sm px-3" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>