Our blog has <%= Article.public_count %> articles and counting!
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Action</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each.with_index(1) do |article, index| %>
      <% unless article.archived? %>
        <tr class="align-middle">
          <th scope="row"><%= index %></th>
          <td><%= article.title %></td>
          <td class="w-25">
            <%= link_to "View", article_path(article), class: "btn btn-primary btn-sm px-3" %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-success btn-sm px-3" %>
          </td>
          <td class="w-25">
            <%= button_to "Destroy", article, method: :delete, class: "btn btn-danger btn-sm px-3" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>